* {
    color: grey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    width: 100%;
}

/* Layar TV 4k - 2560px */
@media screen and (min-width: 2560px) {
    /* Silahkan distyling... */
}

/* Layar Laptop Besar - 1440px */
@media screen and (min-width: 1440px) {
    /* Silahkan distyling... */
}

/* Layar Laptop Sedang - 1024px */
@media screen and (min-width: 1024px) {
    /* Silahkan distyling... */
}

/* Tablet - 768px */
@media screen and (min-width: 768px) {
    /* Silahkan distyling... */
}

/* Hape Besar - 425px */
@media screen and (min-width: 425px) {
    /* Silahkan distyling... */
}

/* Hape Sedang - 375px */
@media screen and (min-width: 375px) {
    /* Silahkan distyling... */
}

/* Hape Kecil - 320px */
@media screen and (min-width: 320px) {
    /* Silahkan distyling... */
}

@media screen and (max-width: 850px) {

    .profile {
        padding-top: 10rem;
        padding-left: 2rem;
        width: 24.4rem;
        height: 30rem;
        background-color: black;
        background-image: url('images/profile_mobile.png');
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .name {
        text-align: left;
        font-weight: bold;
        font-size: 2rem;
        width: 15rem;
    }

    .project_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project_title {
        text-align: center;
    }

    .name_line {
        width: 8rem;
        height: 0.3rem;
    }

    .css_btn {
        width: 8rem;
        border-radius: 10rem;
    }

    .first_info {
        margin: 2rem;
    }

    .header_info {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .programming_line {
        width: 20rem;
        height: 0.25rem;
    }

    .description {
        text-align: justify;
        /* font-weight: bold; */
        font-size: 0.8rem;
    }

    .python_container{
        width: 20.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .python_logo{
        width: 8rem;
    }

    .python_name{
        text-align: center;
        margin: 1.5rem 0;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .language_logo {
        align-items: center;
        width: 2.5rem;
    }

    .programming_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .language_container{
        width: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }

    .language_name{
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
    }

    .image_project{
        width: 20rem;
    }

    .project_title{
        font-weight: bold;
        font-size: 1.15rem;
    }

    .project_line{
        width: 8rem;
        height: 0.15rem;
        margin: auto;
        margin-top: 1rem;
    }

    .project_detail{
        text-align: justify;
        font-weight: bold;
        font-size: 0.8rem;
    }

    .tools_list{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }

    .tl{
        margin: auto;
        font-weight: lighter;
        font-size: 0.75rem;
    }

    .project_spacing{
        height: 5rem;
    }

    .container_info{
        margin: 5rem 0;
    }

    .skill{
        text-align: center;
        font-weight: bold;
    }

    .information{
        font-size: 0.8rem;
        font-weight: normal;
    }

    .footer{
        background-color: black;
        height: 22rem;
    }

    .contact_header{
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 1rem;
    }

    .programming_line{
        margin: auto;
    }

    .contact_container{
        margin: 2rem 0;
    }

    .contact_data{
        display: flex;
        justify-content: space-between;
        margin: 1.5rem auto;
        width: 18rem;
    }

    .contact_link{
        margin: auto;
    }
}

/* layar komputer */
@media screen and (min-width: 851px) {
    .profile {
        width: 120rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('images/profile.png');
        background-size: 120rem;
        height: 20rem;
        justify-content: center;
        background-repeat: no-repeat;
    }

    .image_project{
        width: 31rem;
    }

    .css_btn {
        border-radius: 1rem;
    }

    .name {
        font-weight: bold;
        text-align: center;
        width: 60rem;
        font-size: 2rem;
    }

    .name_line {
        width: 10rem;
        height: 0.4rem;
    }

    .description {
        text-align: justify;
        font-weight: bold;
        font-size: 1rem;
    }

    .first_info {
        margin: 3rem;
        display: flex;
        justify-content: space-between;
    }

    .about_me {
        width: 77.5rem;
    }

    .project {
        width: 77.5rem;
    }

    .container_info {
        width: 30rem;
    }

    .header_info {
        font-size: xx-large;
        font-weight: bold;
    }

    .programming_line {
        width: 10rem;
        height: 0.4rem;
    }

    .programming_container {
        display: flex;
        justify-content: space-between;
    }

    .language_container {
        /* background-color: red; */
        position: relative;
        width: 100rem;
        height: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .python_container {
        position: relative;
        width: 30rem;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .python_logo {
        width: 6.75rem;
        align-items: center;
    }

    .python_name {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .language_logo {
        display: block;
        width: 3.5rem;
        /* transition: transform .25s ease; */
    }

    .language_name {
        text-align: center;
        font-size: small;
        font-weight: bolder;
        margin: 0 auto;
    }

    .skill {
        font-weight: bold;
        text-align: center;
    }

    .information {
        font-weight: normal;
        font-size: 0.7rem;
    }

    .skill_container {
        display: flex;
        justify-content: space-between;
    }

    .contact_header {
        font-weight: bold;
        font-size: xx-large;
    }

    .footer {
        width: 120rem;
        height: 15rem;
        background-color: black;
        padding: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact_container {
        width: 80rem;
    }

    .contact_split {
        display: flex;
        justify-content: space-evenly;
    }

    .contact_data {
        display: flex;
        width: 30rem;
        margin: 1rem 0;
    }

    .contact_icon {
        margin: auto 0;
        margin-right: 1.5rem;
    }

    .project_container {
        display: flex;
        justify-content: space-between;
    }

    .project_detail {
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        font-weight: bolder;
    }

    .project_title {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }

    .project_line {
        width: 10rem;
        height: 0.3rem;
        margin: auto;
        margin-top: 0.5rem;
    }

    .tools_list {
        display: flex;
        justify-content: space-between;
    }

    .tool_header {
        font-weight: bold;
        font-size: larger;
    }

    .tl {
        margin: auto 0;
    }

    .contact_link {
        margin: auto 0;
    }

    .project_spacing {
        height: 8rem;
        width: 100%;
    }

    .skill_container{
        text-align: center;
    }
}

/* .language_logo{
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    -webkit-animation: fadein 6s;
    -o-animation: fadein 6s;
} */

.name {
    animation: fadein 6s;
    -moz-animation: fadein 6s;
    /* Firefox */
    -webkit-animation: fadein 6s;
    /* Safari and Chrome */
    -o-animation: fadein 6s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}